.black-and-white-collection-61 {
  height: 127.1px;
  width: 186px;
  position: absolute;
  margin: 0 !important;
  bottom: -27.6px;
  left: 310px;
  object-fit: contain;
}
.home2,
.pages3 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 49px;
}
.ioncaret-down-icon1 {
  height: 14px;
  width: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.pages2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.about2,
.contact2,
.login1 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
}
.about2 {
  color: var(--color-white);
  min-width: 56px;
}
.contact2,
.login1 {
  min-width: 50px;
}
.contact2 {
  min-width: 76px;
}
.navbar1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-23xl-9);
  max-width: 100%;
}
.ioncart-icon2,
.ionperson-icon1,
.ionsearch-icon1 {
  height: 18px;
  width: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 18px;
}
.div22 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 18px;
}
.cart1,
.right-icons1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.right-icons1 {
  align-items: flex-start;
  gap: var(--gap-lgi);
  font-size: var(--font-size-xs);
}
.navbar-right-icon1 {
  width: 695px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.about-us,
.nav1 {
  position: relative;
}
.nav1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-6xl-5) var(--padding-291xl);
  box-sizing: border-box;
  max-width: 100%;
}
.about-us {
  margin: 0;
  font-size: inherit;
  letter-spacing: 0.02em;
  line-height: 114%;
  text-transform: uppercase;
  font-weight: 300;
  font-family: inherit;
}
.content-wrapper,
.content2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.content2 {
  flex: 1;
  background-color: var(--color-whitesmoke-100);
  justify-content: center;
  padding: var(--padding-74xl) var(--padding-xl);
  text-align: left;
  font-size: var(--font-size-64xl);
  color: var(--color-gray-100);
  font-family: var(--font-jost);
}
.content-wrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-101xl);
  flex-shrink: 0;
}
.group-icon4 {
  height: 25px;
  width: 22.7px;
  position: relative;
}
.free-delivery1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
}
.consectetur-adipi-elit1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.03em;
  line-height: 138%;
  font-weight: 300;
  font-family: var(--font-lato);
  color: var(--color-darkslategray-200);
}
.div23,
.text16 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.div23 {
  flex-direction: row;
  gap: var(--gap-sm);
  min-width: 261px;
  max-width: 284px;
}
.group-icon5 {
  height: 25.7px;
  width: 25.2px;
  position: relative;
}
.quality-guarantee1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
}
.dolor-sit-amet1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.03em;
  line-height: 138%;
  font-weight: 300;
  font-family: var(--font-lato);
  color: var(--color-darkslategray-200);
}
.div24,
.text17 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.div24 {
  flex-direction: row;
  gap: var(--gap-smi);
  min-width: 261px;
  max-width: 284px;
}
.group-icon6 {
  height: 25px;
  width: 25.5px;
  position: relative;
}
.daily-offers1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
}
.amet-consectetur-adipi1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.03em;
  line-height: 138%;
  font-weight: 300;
  font-family: var(--font-lato);
  color: var(--color-darkslategray-200);
}
.div25,
.text18 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.div25 {
  flex-direction: row;
  gap: var(--gap-sm);
  min-width: 261px;
  max-width: 284px;
}
.group-icon7 {
  height: 25px;
  width: 25.5px;
  position: relative;
}
.secure-payment1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
}
.rem-lopsum-dolor1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.03em;
  line-height: 138%;
  font-weight: 300;
  font-family: var(--font-lato);
  color: var(--color-darkslategray-200);
}
.text19 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.div26,
.features-wrapper,
.features1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.div26 {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-smi);
  min-width: 261px;
  max-width: 284px;
}
.features-wrapper,
.features1 {
  box-sizing: border-box;
  max-width: 100%;
}
.features1 {
  width: 1300px;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  gap: var(--gap-36xl);
}
.features-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-101xl);
  font-size: var(--font-size-xl);
  font-family: var(--font-jost);
}
.video-icon {
  width: 640px;
  position: relative;
  max-height: 100%;
  max-width: 100%;
}
.how-was-ministore {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.06em;
  line-height: 114%;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
}
.risus-augue-curabitur {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.sed-vitae-metus {
  margin: 0;
}
.risus-augue-curabitur-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.03em;
  line-height: 138%;
  font-weight: 300;
  font-family: var(--font-lato);
  color: var(--color-darkslategray-200);
}
.text20 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.shop-our-store {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.1em;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-white);
  text-align: left;
}
.btn2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-31xl);
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.btn2:hover {
  background-color: var(--color-dimgray);
}
.about-us1,
.text-services {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.text-services {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  gap: var(--gap-21xl);
  min-width: 383px;
}
.about-us1 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-291xl);
  gap: 70px;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-100);
  font-family: var(--font-jost);
}
.testimonials-child {
  height: 45px;
  width: 22.3px;
  position: relative;
  object-fit: contain;
}
.vector-icon {
  width: 91px;
  height: 65px;
  position: relative;
}
.tempus-oncu-enim1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 138%;
  font-weight: 300;
}
.ionstar-icon5,
.ionstar-icon6,
.ionstar-icon7,
.ionstar-icon8,
.ionstar-icon9 {
  height: 17px;
  width: 17px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 17px;
}
.stars1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl);
  gap: var(--gap-6xs);
}
.emma-chamberlin1 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 148%;
  text-transform: uppercase;
  font-weight: 500;
  white-space: nowrap;
}
.content3,
.review-star-name1,
.review1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.review-star-name1 {
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
}
.content3,
.review1 {
  max-width: 100%;
}
.review1 {
  width: 1015.4px;
  gap: var(--gap-11xl);
}
.content3 {
  flex: 1;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  min-width: 816px;
}
.testimonials-item {
  height: 45px;
  width: 22.3px;
  position: relative;
}
.testimonials-container,
.testimonials1 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.testimonials1 {
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}
.testimonials-container {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-15xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-lato);
}
.subscribe-us-now1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.06em;
  line-height: 114%;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
}
.get-latest-news1 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.03em;
  line-height: 138%;
  font-weight: 300;
  font-family: var(--font-lato);
}
.text21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.subscribe2,
.your-email-address1 {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 138%;
  font-weight: 300;
}
.subscribe2 {
  font-size: var(--font-size-sm);
  letter-spacing: 0.1em;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 87px;
}
.btn3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-20xl);
  background-color: var(--color-skyblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.btn3:hover {
  background-color: var(--color-slategray);
}
.input1,
.subscribe-us-wrapper,
.subscribe-us1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.input1 {
  flex: 1;
  box-shadow: 0 0 44px rgba(0, 0, 0, 0.08);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-200);
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-11xl);
  min-width: 321px;
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-200);
  font-family: var(--font-lato);
}
.subscribe-us-wrapper,
.subscribe-us1 {
  justify-content: flex-start;
}
.subscribe-us1 {
  flex: 1;
  background-color: var(--color-gray-100);
  flex-wrap: wrap;
  align-items: center;
  padding: var(--padding-61xl) var(--padding-91xl);
  gap: var(--gap-105xl);
}
.subscribe-us-wrapper {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 0 var(--padding-xl);
  color: var(--color-white);
}
.latest-posts1,
.read-blogs1 {
  position: relative;
  text-transform: uppercase;
}
.latest-posts1 {
  margin: 0;
  font-size: inherit;
  letter-spacing: 0.06em;
  line-height: 114%;
  font-weight: 400;
  font-family: inherit;
}
.read-blogs1 {
  letter-spacing: 0.1em;
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
  min-width: 99px;
}
.frame-item {
  align-self: stretch;
  height: 3px;
  position: relative;
  background-color: var(--color-gainsboro-100);
}
.read-blogs-group {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.read-blogs-group,
.title-btn-child,
.title-btn3 {
  display: flex;
  align-items: flex-start;
}
.title-btn-child {
  width: 99px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-sm);
  font-family: var(--font-lato);
}
.title-btn3 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.david-svihovec-uyu-izpc73u-uns-icon1 {
  align-self: stretch;
  height: 298px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.get-some-cool1,
.may-20-20243 {
  position: relative;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.may-20-20243 {
  white-space: pre-wrap;
}
.get-some-cool1 {
  margin: 0;
  font-size: var(--font-size-xl);
  line-height: 29px;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-gray-100);
}
.div27,
.text22 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text22 {
  gap: var(--gap-7xs);
  flex-shrink: 0;
}
.div27 {
  height: 199px;
  width: 370px;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-sm);
  max-width: 100%;
}
.matthew-brodeur-osvr0wgyubs-un-icon3 {
  align-self: stretch;
  height: 298px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.may-20-20244,
.technology-hack-you1 {
  position: relative;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.may-20-20244 {
  white-space: pre-wrap;
}
.technology-hack-you1 {
  margin: 0;
  align-self: stretch;
  font-size: var(--font-size-xl);
  line-height: 29px;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-gray-100);
}
.div28,
.text23 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text23 {
  align-self: stretch;
  gap: var(--gap-7xs);
}
.div28 {
  flex: 1;
  gap: var(--gap-sm);
  min-width: 289px;
  max-width: 100%;
}
.eniko-kis-kslptsyaqiq-unsplash-icon1 {
  align-self: stretch;
  height: 298px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.may-20-20245,
.top-10-bigest1 {
  position: relative;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.may-20-20245 {
  white-space: pre-wrap;
}
.top-10-bigest1 {
  margin: 0;
  align-self: stretch;
  font-size: var(--font-size-xl);
  line-height: 29px;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-gray-100);
}
.div29,
.posts1,
.text24,
.title-btn-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text24 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-7xs);
}
.div29,
.posts1,
.title-btn-parent {
  max-width: 100%;
}
.div29 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-sm);
  min-width: 289px;
}
.posts1,
.title-btn-parent {
  align-self: stretch;
}
.posts1 {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-xl);
  font-size: var(--font-size-smi);
  color: var(--color-white);
}
.title-btn-parent {
  flex-direction: column;
  gap: var(--gap-11xl);
}
.span1 {
  color: var(--color-skyblue);
}
.ministore1 {
  margin: 0;
  height: 48px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.nisi-purus-vitae1,
.vector-icon1 {
  align-self: stretch;
  position: relative;
}
.nisi-purus-vitae1 {
  letter-spacing: 0.03em;
  line-height: 138%;
  font-weight: 300;
}
.vector-icon1 {
  width: 12px;
  max-height: 100%;
  min-height: 21px;
}
.vector-icon2 {
  height: 19px;
  width: 18px;
  position: relative;
}
.vector-icon3,
.vector-icon4,
.vector-icon5 {
  height: 15px;
  width: 18px;
  position: relative;
}
.vector-icon4,
.vector-icon5 {
  height: 19px;
}
.vector-icon5 {
  height: 15px;
  width: 22px;
}
.social1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.newsletter-social1 {
  width: 208px;
}
.info-newsletter-social1,
.ministore-parent,
.newsletter-social1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.info-newsletter-social1 {
  align-self: stretch;
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-200);
  font-family: var(--font-lato);
}
.ministore-parent {
  width: 339px;
  gap: var(--gap-3xs);
  max-width: 100%;
  font-size: var(--font-size-14xl);
}
.quick-links4 {
  margin: 0;
  height: 29px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 128px;
  white-space: nowrap;
}
.heading2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.home3 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 49px;
}
.div30 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-black);
}
.about3 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 56px;
}
.div31 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-white);
}
.shop1 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 44px;
}
.div32 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.blogs1 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 52px;
}
.div33 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact3 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 74px;
}
.div34,
.links2,
.quick-links3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.links2,
.quick-links3 {
  flex-direction: column;
}
.links2 {
  gap: var(--gap-5xs);
  font-size: var(--font-size-sm);
  font-family: var(--font-lato);
}
.quick-links3 {
  gap: var(--gap-3xs);
}
.help-info3 {
  margin: 0;
  height: 29px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.heading3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.track-your-order1 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 500;
}
.div35 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.returns-policies1 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 148%;
  text-transform: uppercase;
  font-weight: 500;
}
.div36 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.shipping-delivery1 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 500;
}
.div37 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-us2 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 104px;
}
.div38 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.faqs1 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 41px;
}
.div39,
.help-info2,
.links3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.help-info2,
.links3 {
  flex-direction: column;
}
.links3 {
  gap: var(--gap-5xs);
  font-size: var(--font-size-sm);
  font-family: var(--font-lato);
}
.help-info2 {
  gap: var(--gap-3xs);
}
.contact-us3 {
  margin: 0;
  height: 29px;
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 400;
  font-family: var(--font-jost);
  color: var(--color-gray-100);
  display: inline-block;
  min-width: 129px;
}
.do-you-have1 {
  margin: 0;
  font-weight: 300;
}
.yourinfogmailcom {
  margin: 0;
  text-decoration: underline;
}
.do-you-have-container1 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.03em;
  line-height: 138%;
}
.if-you-need1 {
  margin: 0;
  font-weight: 300;
}
.p1 {
  margin: 0;
  text-decoration: underline;
}
.if-you-need-container1 {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 138%;
}
.contact-us-group {
  width: 242px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-200);
  font-family: var(--font-lato);
}
.frame-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
}
.frame-container,
.frame-group,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-group {
  width: 1300px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-81xl);
}
.frame-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-100);
  font-family: var(--font-jost);
}
.about-us-parent,
.line1 {
  align-self: stretch;
  flex-shrink: 0;
}
.about-us-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-61xl);
  box-sizing: border-box;
  gap: var(--gap-101xl);
  max-width: 100%;
}
.line1 {
  height: 1px;
  position: relative;
  background-color: var(--color-lightgray-200);
}
.desktop-2 {
  width: 100%;
  position: relative;
  background-color: var(--color-darkcyan-100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xl);
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  font-family: var(--font-lato);
}
@media screen and (max-width: 1525px) {
  .video-icon {
    flex: 1;
  }
  .about-us1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1225px) {
  .nav1 {
    padding-left: var(--padding-136xl);
    padding-right: var(--padding-136xl);
    box-sizing: border-box;
  }
  .text-services {
    min-width: 100%;
  }
  .about-us1 {
    gap: var(--gap-16xl);
    padding-left: var(--padding-136xl);
    padding-right: var(--padding-136xl);
    box-sizing: border-box;
  }
  .content3 {
    min-width: 100%;
  }
  .subscribe-us1 {
    gap: var(--gap-43xl);
    padding-left: var(--padding-36xl);
    padding-right: var(--padding-36xl);
    box-sizing: border-box;
  }
  .frame-container {
    flex-wrap: wrap;
  }
  .about-us-parent {
    gap: var(--gap-41xl);
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .navbar1 {
    display: none;
    gap: var(--gap-2xl);
  }
  .navbar-right-icon1 {
    width: 230px;
  }
  .nav1 {
    padding-left: var(--padding-58xl);
    padding-right: var(--padding-58xl);
    box-sizing: border-box;
  }
  .features1 {
    gap: 27px;
  }
  .how-was-ministore {
    font-size: var(--font-size-5xl);
    line-height: 27px;
  }
  .text-services {
    gap: var(--gap-xl);
  }
  .about-us1 {
    gap: 17px;
    padding-left: var(--padding-58xl);
    padding-right: var(--padding-58xl);
    box-sizing: border-box;
  }
  .tempus-oncu-enim1 {
    font-size: var(--font-size-8xl);
    line-height: 38px;
  }
  .subscribe-us-now1 {
    font-size: var(--font-size-5xl);
    line-height: 27px;
  }
  .input1 {
    flex-wrap: wrap;
    padding: var(--padding-xl);
    box-sizing: border-box;
  }
  .subscribe-us1 {
    gap: var(--gap-12xl);
    padding-left: var(--padding-8xl);
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
  .latest-posts1 {
    font-size: var(--font-size-5xl);
    line-height: 27px;
  }
  .ministore1 {
    font-size: var(--font-size-7xl);
  }
  .frame-group {
    gap: var(--gap-31xl);
  }
  .about-us-parent {
    gap: var(--gap-11xl);
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .nav1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .content-wrapper {
    padding-bottom: var(--padding-59xl);
    box-sizing: border-box;
  }
  .daily-offers1,
  .free-delivery1,
  .quality-guarantee1,
  .secure-payment1 {
    font-size: var(--font-size-base);
  }
  .how-was-ministore {
    font-size: var(--font-size-lg);
    line-height: 21px;
  }
  .about-us1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .tempus-oncu-enim1 {
    font-size: var(--font-size-xl);
    line-height: 28px;
  }
  .subscribe-us-now1 {
    font-size: var(--font-size-lg);
    line-height: 21px;
  }
  .subscribe-us1 {
    gap: var(--gap-mini);
  }
  .latest-posts1 {
    font-size: var(--font-size-lg);
    line-height: 21px;
  }
  .title-btn3 {
    flex-wrap: wrap;
  }
  .get-some-cool1,
  .technology-hack-you1,
  .top-10-bigest1 {
    font-size: var(--font-size-base);
    line-height: 23px;
  }
  .ministore1 {
    font-size: var(--font-size-xl);
  }
  .contact-us3,
  .help-info3,
  .quick-links4 {
    font-size: var(--font-size-base);
  }
  .frame-group {
    gap: var(--gap-6xl);
  }
}
